*{ /* This styling is used for every single element in the html file that we build */
  margin : 0;
  padding : 0;
}
body { /* This styling is used for the entire body */
    /*background-color:black;*/
    background-color:#00263A;/*the background is changed from the original one */
    font-family :Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: darkslategrey;
}

a { /* This styling is used for every single hyperlink element in the html file */
    text-decoration: none;
    color: whitesmoke;
}
a:hover { /* This styling is used for the hyperlink element when you put your pointer on the hyperlink */
    text-decoration: underline;
    color: whitesmoke;
    /*background-color: grey;*/
    background-color:#96DAEA;/*the background is changed */
}

#header { /* This styling is used for the banner in the top of the page html */
    height: 100px;
    /*background:darkgreen url("../img/backheader.jpg)*/
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7WETjZt2-BWZ6vLNgh888HfWwin34vau1VDYQAeuU6m31Unt1&s");/* additional changes for the banner*/
    background-repeat: no-repeat;
    background-size: 2000px 100px ;

}
#header h1{ /* This styling is used for the Main Title of the page html , you can used it as your Company name or your Webpage Name */
   font-size:70px;
    color: white;
    padding-left: 30px;
    padding-top: 35px;
    text-align : center;
    font-family:DFGothic-EB;/*This is an addition from the previous header */   
    -webkit-animation:glow 1s ease-in-out infinite alternate;
   -moz-animation: glow 1s ease-in-out infinite alternate;
   animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
 from {
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(6, 44, 71), 0 0 40px rgb(6, 44, 71), 0 0 50px rgb(6, 44, 71), 0 0 60px rgb(6, 44, 71), 0 0 70px rgb(6, 44, 71);
 }
 to {
   text-shadow: 0 0 20px #fff, 0 0 30px rgb(6, 44, 71), 0 0 40px rgb(6, 44, 71), 0 0 50px rgb(6, 44, 71), 0 0 60px rgb(6, 44, 71), 0 0 70px rgb(6, 44, 71), 0 0 80px rgb(6, 44, 71)
}


}

#menu { /* This styling is used for menu container of our page html , i suggest you to make the menu container less than 10 */
    height:30px;
    line-height:30px;
    /*background: linear-gradient(to bottom, white,grey);*/
    background-color:black;/*the background color is changed*/
    padding-left: 30px;

}

#menu ul { /* This styling is used for your template of menu container */
    list-style-type: none;
    padding-left: 100px;
}

#menu ul li { /* This styling is used for list of your menu container. This Styling make our list of menu container in one row to the right*/
    display: block;
    float: left;
    padding-left:100px ;

}

#menu ul li a { /* This styling is used for the list of your menu container that have a hyperlink */
    text-decoration:none;
    /*color: black;*/
    color:white;/*the color of the font is changed to white */
    font-size: 15px;
    font-family: arial black ;


}

#menu ul li a:hover { /* This styling is used for the list of your menu container that have a link and when you put your pointer to the hyperlink */
    color: blue;
    text-decoration: none;
    background-color: black;
}

#footer { /* This is styling for your footer of your page html */
   /*background-color:darkgreen;*/
    background-color: #03477A;/*the background-color is changed*/
    height: 30px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
    font-family: arial;
    }
    #footer a { /* This Styling is used for your footer if your footer have a hyperlink */
    color: White;
    text-decoration: none ;}
    #footer a:hover /* This styling is used for your footer if your footer have a hyperlink and you put your pointer to the hyperlink */
    { color: darkslategrey;
    text-decoration: none;}

@media screen and (max-width: 1024) and (min-width: 768){
    #menu ul li a:hover { /* This styling is used for the list of your menu container that have a link and when you put your pointer to the hyperlink */
    color: blue;
    text-decoration: none;
    padding-left: 0.1em;
    padding-right: 1em;
    background-color: black;
}

/*This is for Iphone*/
 @media screen and (max-width: 375px) and (min-width: 0px){
    #header { /* This styling is used for the banner in the top of the page html */
    height: 200%;
    /*background:darkgreen url("../img/backheader.jpg)*/
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7WETjZt2-BWZ6vLNgh888HfWwin34vau1VDYQAeuU6m31Unt1&s");/* additional changes for the banner*/
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#header h1{ /* This styling is used for the Main Title of the page html , you can used it as your Company name or your Webpage Name */
   font-size:3em;
    color: white;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align : center;
    font-family:DFGothic-EB;/*This is an addition from the previous header */   
    -webkit-animation:glow 1s ease-in-out infinite alternate;
   -moz-animation: glow 1s ease-in-out infinite alternate;
   animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
 from {
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(6, 44, 71), 0 0 40px rgb(6, 44, 71), 0 0 50px rgb(6, 44, 71), 0 0 60px rgb(6, 44, 71), 0 0 70px rgb(6, 44, 71);
 }
 to {
   text-shadow: 0 0 20px #fff, 0 0 30px rgb(6, 44, 71), 0 0 40px rgb(6, 44, 71), 0 0 50px rgb(6, 44, 71), 0 0 60px rgb(6, 44, 71), 0 0 70px rgb(6, 44, 71), 0 0 80px rgb(6, 44, 71)
}
 }
 #menu { /* This styling is used for menu container of our page html , i suggest you to make the menu container less than 10 */
    height:30px;
    line-height:190%;
    /*background: linear-gradient(to bottom, white,grey);*/
    background-color:black;/*the background color is changed*/
    padding-left: 10%;

}
#menu ul { /* This styling is used for your template of menu container */
    list-style-type: none;
    padding-left: 10px;
}

#menu ul li { /* This styling is used for list of your menu container. This Styling make our list of menu container in one row to the right*/
    display: block;
    float: left;
    padding-left:1vw ;

}

#menu ul li a { /* This styling is used for the list of your menu container that have a hyperlink */
    text-decoration:none;
    /*color: black;*/
    color:white;/*the color of the font is changed to white */
    font-size: 1vw;
    font-family: arial black ;


}

#menu ul li a:hover { /* This styling is used for the list of your menu container that have a link and when you put your pointer to the hyperlink */
    color: blue;
    text-decoration: none;
    background-color: black;
}
#footer { /* This is styling for your footer of your page html */
   /*background-color:darkgreen;*/
    background-color: #03477A;/*the background-color is changed*/
    width: 100%;
    height: 1.5em;
    text-align: center;
    font-size: 1em;
    color: #aaa;
    font-family: arial;
    }
    #footer a { /* This Styling is used for your footer if your footer have a hyperlink */
    color: White;
    text-decoration: none ;}
    #footer a:hover /* This styling is used for your footer if your footer have a hyperlink and you put your pointer to the hyperlink */
    { color: darkslategrey;
    text-decoration: none;}
}

@media screen and (max-width: 375px){
    
    #header h1{
        font-size: 80px;
        padding-top: 50px;
        padding-left: 10px;
    }

     #menu ul{
        padding-left: 10px;
        
    }
    
    #menu ul li 
    {       
        padding-left: 5px;
        padding-right: 10px;
       
    }
    
    #menu ul li a{
         font-size: 15px;
    }
} 
    


@media only screen and (max-width:767px) and (min-width:376px)
{   
    #header{
    width: 100%;
    }
     #header h1{
        font-size: 80px;
    }

     #menu ul{
        padding-left: 10px;
        
    }
    
    #menu ul li 
    {       
        padding-left: 5px;
        padding-right: 10px;
       
    }
    
    #menu ul li a{
         font-size: 15px;
    }
    #footer p a{
        width:100%;
        font-size: 15px;
        padding-left: 10px;
       
    }
    }
