/* use div to use this CSS ("." for class and "#" for id) */

.description {		/* to align content of the right section and give a border to divide left and right content section */
	border-right: 5px solid darkgreen;
	margin-top: 25px;
	margin-bottom: 30px;
	width: 60%;
	
	
	
}

.description h2{	/* For the main title of the subject */
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	text-align: justify;
	color :white;
	font-size: 45px;
	
}

.description h3{	/* For secondary title of the subject */
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	text-align: justify;
	color :darkgreen;
	font-size: 35px;
	
}

.description img{	/* Custom image that you want to put (you can customize the size tho */
	padding: 15px;
	width: 80%;
   	 margin: 0 0 10px 0;
   	 padding-left: 10%;
	height: 360px;
}

.description p{     /* The content of the subject */
	
	padding-left: 67px;
	padding-right: 25px;

	font-family: Arial BLack;
	color: white;
	font-size: 20px;

	border-right: 5px solid darkgreen;
	margin-top: 30px;
	margin-bottom: 30px;
	width:90%;
}

.photo {        /* The alignment for right section content */
	float: right;
	margin: 30px;
	padding:10px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid darkgreen;
	
}

.photo p{       /* The additional infromation that you want to write down */
	padding-top: 30px;
	color: white;
	font-size:15px;
}
.photo img{     /* Input circle image as an thumbnail */
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.photo ul{     
	padding-top: 30px;
	padding-left: 10px;
	list-style-type: square;
	color: green;
}

.photo ul li a{     /* make navigation link to other detail subject */
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
}

@media only screen and (max-width:767px) and (min-width:376px)
{
    .photo{
        display:none;
    }
    .description {
        width: 100%;
        border-right:none;
    }
    .description p{
        font-size: 15px;
        line-height: 20px;
        
        border-right:none;
        padding-left: 30px;
    }
    .description h2{
        line-height: 50px;
    }
    .description h3{
        line-height: 60px;
    }
   
    #footer p a{
        width:100%;
        font-size: 15px;
        padding-left: 10px;
       
    }
     #header h1{
        font-size: 80px;
    }

     #menu ul{
        padding-left: 20px;
        
    }
    
    #menu ul li 
    {       
        padding-left: 5px;
        padding-right: 10px;
       
    }
    
    #menu ul li a{
         font-size: 15px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
	.description {		/* to align content of the right section and give a border to divide left and right content section */
	border-right: 5px solid darkgreen;
	margin-top: 25px;
	margin-bottom: 30px;
	
	width: 100%;
	
	
}

.description h2{	/* For the main title of the subject */
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	text-align: justify;
	color :white;
	font-size: 45px;
	
}

.description h3{	/* For secondary title of the subject */
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	text-align: justify;
	color :darkgreen;
	font-size: 35px;
	
}

.description img{	/* Custom image that you want to put (you can customize the size tho */
	padding: 15px;
	width: 50%;
	height: 360px;
}

.description p{     /* The content of the subject */
	
	padding-left: 1%;
	padding-right: 5%;
	text-align: left;
	line-height: 90%;
	font-family: Arial;
	color: white;
	font-size: 2.6em;

	border-right: 5px solid darkgreen;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 60%;
}

.photo {        /* The alignment for right section content */
	float: right;
	margin: 5%;
	padding:10px;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	border: 5px solid darkgreen;
	
}

.photo p{       /* The additional infromation that you want to write down */
	padding-top: 30px;
	color: white;
	line-height: 1em;
	font-size:2.5em;
}
.photo img{     /* Input circle image as an thumbnail */
	width: 20em;
	height: 20em;
	border-radius: 50%;
}

.photo ul{     
	line-height: 1em;
	padding-top: 30px;
	padding-left: 10px;
	list-style-type: square;
	color: green;
}

.photo ul li a{     /* make navigation link to other detail subject */
	text-decoration: none;
	line-height: 1em;
	font-size: 2.5em;
	font-weight: 400;
}
}

@media only screen and (max-width:376px) and (min-width:0px)
{
    .photo{
        display:none;
    }
    .description {
        width: 100%;
        border-right:none;
    }
    .description p{
        font-size: 15px;
        line-height: 20px;
        
        border-right:none;
        padding-left: 30px;
    }
    .description h2{
        line-height: 50px;
    }
    .description h3{
        line-height: 60px;
    }
   
   
}
