@media screen and (max-width: 375px){
    
    #header h1{/*for lone open now*/
        font-size: 60px;
     }
    .login {/*for black box*/
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
